@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  margin: 0;
  min-width: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'DM Sans';
  line-height: 30px;
  font-weight: normal;
  /* width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center; */
  color: #343D48;
  background-color: #ffffff;
  display: block;
}

div {
  display: block;
}

h3 {
  display: block;
}

header {
  height: 15vh;
  width: 100vw;
  position: fixed;
  background-color: white;
  background-size: cover;
}

.navbar {
  position: absolute;
  padding: 30px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.navbar a {
  color: #02073E;
}

.navbar a:hover {
  color: #8d448b;
}

/* .navbar .nav-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li {
  margin: 0 25px;
}

.navbar .nav-links ul li.active a {
  color: #8d448b;
}

.navbar button {
  background: none;
  color: #8d448b;
  border: 2px solid #8d448b;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.navbar button:hover {
  color: white;
  background: #8d448b;
}

.navbar .menu-hamburger {
  display: none;
  position: absolute;
  top: 30px;
  right: 50px;
  width: 20px;
}

/* @media screen and (max-width: 900px) {
  .navbar{
    position: absolute;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(7px);
    padding: 35px 30px;
    width: 45%;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    align-items: start;
  }

  .navbar .menu-hamburger{
    display: block;
  }

  .nav-links {


  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
  }

  .navbar .nav-links ul li{
    margin: 10px 0;
  }

  .navbar .nav-links ul li.active a{
    color: #02073E;
  }

  .navbar .button{
    position: relative;
    padding: 10px 65px;
    color: white;
    background-color: #8d448b;
    border: 0px;
    border-radius: 3px;
  }
  .navbar .button:hover{
    background-color: #793677;
  }
} */

.sidebar{
  position: fixed;
  top: 0; 
  left: 0;
  height: 100vh;
  width: 250px;
  background-color:  #fff;
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px  #fff;
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
  text-decoration: none;
  font-size: 18px;
  color: #333;
  font-weight: 500;
}
.sidebar button{
  background-color: #8d448b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

}
.menu-button{
  display: none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}

.home {
  padding-top: 110px;
  padding-bottom: 50px;
  background-color: #F6F8FB;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.home .row {
  /* display: grid;
  grid-gap: 16px; */
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
}

.home .content1 {
  /* flex: 0 0 50%;
  max-width: 100%;
  padding: 0; */
}

.home .content1 h3 {
  color: #0F2137;
  font-weight: 700;
  line-height: 1.39;
  letter-spacing: -.7px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 100%;
  font-size: 30px;
}


.home .content1 p {
  font-size: 15px;
  line-height: 26px;
  color: #02073E;
  margin-bottom: 20px;
  width: 100%;
  max-width: 100%;
}

.subscribe-form {
  margin-bottom: 30px;
  display: flex;
  /* align-items: center;
  gap: 8px; */
}

.subscribe-form input {
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #fff;
  padding: 0 15px;
  width: 240px;
  height: 45px;
  color: inherit;
  font-size: 15px;
  box-shadow: 0px 10px 50px rgba(48, 98, 145, 0.08);
}

.subscribe-form button {
  /* text-decoration: none;
  border: none;
  
  background-color: #8d448b;
  display: inline-block; */
  font-size: 15px;
  border-radius: 4px;
  padding: 0 15px;
  margin-left: 10px;
  width: auto;
  /* height: 50px;
  cursor: pointer;
  font-weight: bold;
  color: white; */
}

.form-button {
  appearance: none;
  display: inline-block;
  text-align: center;
  line-height: inherit;
  text-decoration: none;
  border: 0;
  font-weight: 700;
  color: white;
  background-color: #8D448B;
  cursor: pointer;
  transition: 500ms;
}

.subscribe-form button:hover {
  background-color: #793677;
}

.sponsors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.sponsors span {
  color: #566272;
  font-size: 15px;
  line-height: 1;
  opacity: 0.6;
  display: block;
  margin-bottom: 20px;
  flex: 0 0 100%;
}


.sponsors img {
  display: flex;
}

.logo-sponsor {
  max-width: 100%;
  height: auto;
}

.sponsors>div+div {
  margin-left: 10px;
}

.content2 img {
  display: block;
  mix-blend-mode: darken;
  position: relative;
  top: 0;
  max-width: 100%;
  height: auto;
}

/* SERVICES */
.services {
  /* width: 100%;
  margin: auto; */
  padding-top: 80px;
}

.services .blockTitle {
  margin-bottom: 45px;
  text-align: center;
}

.blockTitle p {
  color: #8D448B;
  font-size: 15px;
  line-height: 1;
  margin-bottom: 10px;
}

.blockTitle h2 {
  font-size: 21px;
  line-height: 1.24;
  font-weight: 700;
  letter-spacing: -1px;
  color: #0F2137;
}

.features {
  /* display: flex;
  justify-content: space-between;
  margin-top: 30px; */
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
}

.feature-item {
  text-align: center;
  /* margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center; */
}

.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #343D48;
}

.features .feature-item:nth-of-type(1) .feature-icon {
  background-image: linear-gradient(323.91deg, #FFCC40 7.09%, rgba(255, 204, 64, 0.5) 88.82%)
}

.features .feature-item:nth-of-type(2) .feature-icon {
  background-image: linear-gradient(320.89deg, #25D9D9 10.83%, rgba(37, 217, 217, 0.5) 88.7%);
}

.features .feature-item:nth-of-type(3) .feature-icon {
  background-image: linear-gradient(319.4deg, #0898E7 5.17%,
      rgba(8, 152, 231, 0.5) 94.34%);
}

.features .feature-item:nth-of-type(4) .feature-icon {
  background-image: linear-gradient(322.63deg, #FF9066 9.94%, rgba(255, 144, 102, 0.5) 91.14%);
}

.feature-item h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #0F2137;
  margin-top: 30px;
  margin-bottom: 20px;
  letter-spacing: -0.5px;
}

.feature-item p {
  font-size: 15px;
  color: #343D48;
  width: 100%;
}

.boost {
  padding-top: 70px;
}

.boost .row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.boost .row .content {
  flex: 0 0 100%;
  display: flex;
}

.boost .content .content-text {
  width: 100%;
  text-align: left;
}

.boost .content .content-text .text-heading {
  text-align: center;
}

.boost .content .content-text .text-heading h3 {
  color: #0F2137;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.5px;
}

.boost .content .content-text .text-heading p {
  font-size: 15px;
  color: #02073E;
  opacity: .6;
  line-height: 26px;
  padding: 0 20;
  margin-top: 15px;
}

.offers {
  /* display: flex;
  flex-direction: column; */
  margin: 0;
  padding: 0;
  margin-left: 25px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.offers li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 15px;
  color: #02073E;
  line-height: 2.56;
  /* gap: 10px;
  padding-bottom: 4px; */
}

.offers li svg {
  width: 17px;
  height: 17px;
  color: #dadada;
  border-radius: 50%;
  margin-right: 10px;
}

.boost .content .content-text a {
  color: #8D448B;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding-left: 30px;
  margin-top: 5px;
}

.boost .content .content-text a svg {
  position: relative;
  color: #8D448B;
  top: 4px;
}

.content .boost-img {
  max-width: 100%;
  height: auto;
  margin-top: 25px;
  display: flex;
  margin-left: 0;
  margin-right: 0;
  height: 385px;
  position: relative;
  /* mix-blend-mode: darken; */
}

/* companies */
.trust-section {
  padding-top: 80px;
  text-align: center;
}

.trust-section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
}

.trust-section h3 {
  margin: 0;
  color: #0F2137;
  font-size: 21px;
  letter-spacing: -0.5px;
  font-weight: 700;
  line-height: 1.6;
}

.trust-section br {
  display: none;
}

.trust-section p {
  font-size: 15px;
  line-height: 26px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.trust-section .details {
  cursor: pointer;
  color: #8D448B;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 20px;
}

.trust-section .details svg {
  position: relative;
  top: 3px;
}

.video {
  background: url(images/video-a5d739423c306df4e4aea6a860c9c6b2.png);
  background-size: cover;
  height: 512px;
  width: 100%;
  position: relative;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-btn {
  background: #fff;
  border: none;
  display: block;
  width: 4em;
  height: 4em;
  /* width: 44px;
    height: 44px; */
  border-radius: 50%;
  /* justify-content: center;
    align-items: center;
    position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  font-size: 1.5em;
  color: #8D448B;
  /* transition: 500ms ease; */
  transition: 0.3s;
  cursor: pointer;
}

.modal-btn:hover {
  background: #8D448B;
  color: #fff;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .4);
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: opacity 0.4s ease-in-out;
}

.modal {
  width: 90vw;
  position: relative;
  padding-top: 40px;
  margin: 2em 0;
}

.modal iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 80%;
  height: 626px;
}

/* hide the modal */
.modal-bg {
  display: none;
  opacity: 0;
}

.testimonials {
  /* position: relative;
  z-index: 2;
  padding: 50px 0; */
  padding-top: 65px;
}

#testimonials .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1140px;
  width: 100%;
  margin: auto;
  padding: 0 15px;

}

.testimonials .blockTitle{
  text-align: center;
  margin-bottom: 25px;
}

/* .testimonial-content{
  text-align: center;
} */

.testimonial-content p {
  text-align: center;
  font-size: 32px;
  font-family: 'Playfair Display';
  line-height: 2;
  color: #0F2137;
  max-width: 820px;
  margin-bottom: 30px;
  min-height: 80px;
}
.clients-content {
  width: 100%;
  max-width: 820px;
  display: flex;
  justify-content: center;
}

.client {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-bottom: 50px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.client .client-details h4 {
  font-size: 18px;
  line-height: 1;

  color: #0F2137;
  display: block;
  letter-spacing: -0.5px;
}

.client .client-details span {
  display: inline-block;
  color: #343D48;
  opacity: 0.8;
  font-size: 15px;
  line-height: 1;
  margin-top: 10px;
}

.client .client-pic {
  padding-right: 15px;
}

.client .client-pic img {
  width: 100%;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.client.active {
  position: relative;
}

.client.active::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  width: 50px;
  height: 6px;
  background: #8D448B;
  transform: translateX(-50%);
  border-radius: 2px;
}


.owl-item .client.active {
  position: relative;
}

.customer-support{
  overflow: hidden;
  padding-top: 75px;
  padding-bottom: 75px;
}

.customer-support .container .row{
  display: grid
;
  grid-gap: 0;
  grid-template-columns: 1fr;
}

/* .customer-support .container .row h3{
  color: #0F2137;
} */
.customer-support .content .content-text {
  /* display: flex;
  flex-direction: column;
  padding-top: 100px; */

  padding-top: 0;
  position: relative;
  z-index: 10;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}
.customer-support .content .content-text h3{
  font-size: 21px;
    color: #0F2137;
    font-weight: 700;
    /* -webkit-letter-spacing: -0.5px;
    -moz-letter-spacing: -0.5px;
    -ms-letter-spacing: -0.5px; */
    letter-spacing: -0.5px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.customer-support .content .content-text p{
  font-size: 15px;
  color: #343D48;
  line-height: 26px;
}
/* .customer-support .content .content-text .p1 {
  font-size: 16px;
  line-height: 26px;
} */

.customer-support .content .content-text .p2 {
  color: #02073E;
  opacity: 0.6;
}

.customer-support .content .content-text p +p {
  margin-top: 15px;
}
.customer-support .content .content-text a{
  box-sizing: border-box;
    margin: 0;
    min-width: 0;
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    color:#8D448B;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    margin-top: 10px;
}
.customer-support .content .content-text a svg{
  position: relative;
  top: 4px;
}
.customer-support .content img{
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 376px) {
  .home .content1 h3 {
    letter-spacing: -1.5px;
  }
  .video{
    height: 300px;
  }
}

@media screen and (min-width: 576px) {
  .boost .content .content-text .text-heading p {
    font-size: 16px;
  }

  .offers li {
    font-size: 16px;
  }

  .boost .content .content-text a {
    font-size: 16px;
  }
  .trust-section .details{
    font-size: 16px;
  }
  .trust-section .details svg{
    font-size: 16px;
  }
  .video{
    height: 512px;
  }
  .modal-btn{
    width: 44px;
    height: 44px;
  }
  .modal-btn ion-icon{
    font-size: 15px;
  }
  .testimonial-content p{
    font-size: 18px;
    line-height: 1.8;
  }
  .client .client-details h3{
    font-size: 16px;
    display: block;
  } 
  .client .client-details span{
    font-size: 15px;
    display: block;
  } 
  .customer-support .container .row .content .content-text h3{
    font-size: 21px;
    line-height: 1.25;
  }
  .p1{
    font-size: 16px;
  }
  .customer-support .container .row .content .content-text p{
    font-size: 16px;
  }
  .customer-support .container .row .content .content-text a{
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .home .row {
    grid-template-columns: 1fr 1fr;
  }

  .home .content1 h3 {
    max-width: 90%;
    font-size: 36px;
  }

  .home .content1 p {
    font-size: 16px;
  }

  .subscribe-form input {
    height: 55px;
    padding: 0 25px;
    font-size: 16px;
  }

  .sponsors>div+div {
    margin-left: 20px;
  }

  .subscribe-form input {
    height: 55px;
    padding: 0 25px;
    font-size: 16px;
  }

  .sponsors>div+div {
    margin-left: 20px;
  }

  .features {
    grid-template-columns: 1fr 1fr;
  }

  .feature-icon {
    width: 110px;
    height: 110px;
    border-radius: 40px;
  }

  .feature-item h3 {
    font-size: 18px;
  }

  .feature-item p {
    font-size: 15px;
  }

  .boost {
    padding-top: 80px;
  }

  .boost .row {
    flex-direction: row-reverse;
  }

  .boost .row .content {
    flex: 0 0 50%;
  }

  .boost .content .content-text .text-heading {
    text-align: left;
  }

  .boost .content .content-text .text-heading h3 {
    font-size: 21px;
    line-height: 1.5;
  }

  .boost .content .content-text .text-heading p {
    line-height: 1.8;
    padding: 0;
  }

  .offers {
    margin-left: 0;
  }

  .offers li svg {
    width: 23px;
    height: 23px;
  }

  .boost .content .content-text a {
    padding-left: 4px;
  }

  .content .boost-img {
    margin-top: 0;
    height: auto;
    top: -20px;
  }
  .trust-section h3{
    font-size: 36px;
  }
  .trust-section p{
    font-size: 17px;
    line-height: 2;
  }
  .trust-section .details{
    margin-bottom: 50px;
  }
  .modal-btn{
    width: 66px;
    height: 66px;
  }
  #testimonials .container{
    padding-left: 30px;
    padding-right: 30px;
  }
  .customer-support .container{
    padding-left: 30px;
    padding-right: 30px;
  }
  .customer-support .container .row .content .content-text{
    margin-bottom: -40px;
    max-width: 590px;
    margin-left: auto;
    margin-right: auto;
  }
  .customer-support .container .row .content .content-text h3{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .customer-support .container .row .content .content-text .p1{
    line-height: 1.8;
  }
  .customer-support .container .row .content .content-text p{
    line-height: 1.8;
  }
  .customer-support .container .row .content img{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .home {
    padding-top: 150px;
    padding-bottom: 60px;
  }

  .home .content1 h3 {
    margin-bottom: 20px;
    max-width: 100%;
  }

  .home .content1 p {
    line-height: 2.33;
  }

  .subscribe-form input {
    width: 315px;
  }

  .subscribe-form button {
    font-size: 16px;
    width: 180px;
  }

  .sponsors span {
    font-size: 16px;
    margin-bottom: 0px;
    margin-right: 20px;
    flex: 0 0 auto;
  }

  .services .blockTitle {
    margin-bottom: 70px;
  }

  .blockTitle p {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .blockTitle h2 {
    font-size: 32px;
    line-height: 1.83;
    letter-spacing: -1.5px;
  }

  .feature-item p {
    max-width: 84%;
    margin-left: auto;
    margin-right: auto;
  }

  .boost {
    padding-top: 120px;
  }

  .boost .content .content-text {
    text-align: left;
  }

  .boost .content .content-text .text-heading h3 {
    font-size: 36px;
  }

  .boost .content .content-text .text-heading p {
    font-size: 17px;
  }

  .offers li {
    font-size: 18px;
  }

  .boost .content .content-text a {
    margin-top: 10px;
  }

  .content .boost-img {
    margin-left: auto;
    margin-right: auto;
    top: -45px;
  }
  .trust-section h3{
    font-size: 36px;
  }
  .trust-section p{
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .trust-section .details{
    margin-top: 0px;
  }
  .video{
    width: 80%;
  }
  .modal-btn{
    width: 120px;
    height: 120px;
  }
  .modal-btn ion-icon{
    font-size: 22px;
  }
  #testimonials .container .blockTitle{
    margin-bottom: 70px;
  }
  #testimonials .container .blockTitle p{
    font-size: 18px;
    margin-bottom: 10px;
  }
  #testimonials .container .blockTitle h2{
    font-size: 32px;
    line-height: 1.83;
    letter-spacing: -1.5px;
  }
  .testimonial-content p{
    font-size: 20px;
  }
  .clients-content{
    margin-top: 40px;
  }
  .client .client-details h3{
    font-size: 18px;
  } 
  .customer-support{
    padding-top: 0;
  }
  .customer-support .container .row{
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
  }
  .customer-support .container .row .content .content-text{
    padding-top: 160px;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }
  .customer-support .container .row .content .content-text h3{
    font-size: 36px;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .customer-support .container .row .content .content-text .p1{
    font-size: 17px;
  }
  .customer-support .container .row .content .content-text p +p{
    margin-top: 15px;
  }
  .customer-support .container .row .content .content-text p{
    font-size: 17px;
  }
  .customer-support .container .row .content .content-text a{
    margin-top: 10px;
  }
  .customer-support .container .row .content img{
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .home {
    padding-top: 200px;
  }

  .home .content1 h3 {
    max-width: 540px;
    font-size: 55px;
  }

  .home .content1 p {
    font-size: 18px;
    margin-bottom: 30px;
    max-width: 410px;
  }

  .subscribe-form {
    margin-bottom: 60px;
  }

  .subscribe-form button {
    font-size: 20px;
  }

  .sponsors>div+div {
    margin-left: 30px;
  }

  .content2 img {
    top: -40px;
  }

  .features {
    /* display: flex;
    justify-content: space-between;
    margin-top: 30px; */
    grid-gap: 60px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .feature-item p {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .boost .content .content-text {
    padding-top: 100px;
    padding-left: 60px;
  }

  .boost .content .content-text .text-heading h3 {
    font-size: 32px;
  }

  .boost .content .content-text .text-heading p {
    line-height: 2.06;
  }

  .offers li {
    justify-content: flex-start;
  }

  .boost .content .content-text a {
    padding-left: 4px;
  }

  .content .boost-img {
    top: auto;
  }
  .trust-section h3{
    font-size: 32px;
    letter-spacing: -1.5px;
  }
  .trust-section br{
    display: inherit;
  }
  .modal-btn ion-icon{
    font-size: 35px;
  }

  #testimonials{
    padding-top: 80px;
  }
  #testimonials .container .blockTitle{
    margin-bottom: 50px;
  }
  .testimonial-content p{
    font-size: 32px;
    margin-top: -15px;
  }

  .clients-content{
    text-align: left;
    margin-top: 50px;
  }
  .clients-content .client{
    border-top: 5px solid transparent;
    padding-left: 75px;
    padding-top: 25px;
    padding-bottom: 15px;
    min-height: 50px;
  }
  .clients-content .client img{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    top: 50%;
    left: 10px;
    margin-top: 0;
    transform: translateY(calc(-50% + 8px));
  }

  .customer-support{
    padding-top: 80px;
    padding-bottom: 120px;
  }
  .customer-support .container .row .content .content-text{
    padding-top: 210px;
    padding-right: 75px;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .customer-support .container .row .content .content-text h3{
    font-size: 32px;
  }

  .p1{
    line-height: 2.06;
  }
  .customer-support .container .row .content .content-text p{
    line-height: 2.06;
  }
  .customer-support .container .row .content img{
    max-width: none;
    margin-top: 0;
  }

}

/* tutoriels */
.tutorials-section {
  margin-top: 120px;
  padding: 50px;
  background-color: #F8FAFC;
}

.blockTitle {
  padding-bottom: 30px;
}

.blockTitle p {
  text-align: center;
  color: #8D448B;
  font-size: 18px;
  /* line-height: 1; */
  margin-bottom: 10px;
}

.blockTitle h2 {
  text-align: center;
  color: #0F2137;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.83;
  margin-bottom: 50px;
  letter-spacing: -1.5px;
}


.card-content {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.tutorial-card {
  margin: 0;
  min-width: 0;
  transition: 500ms;
  /* background-color: #fff; */
  /* border: none; */
  border-radius: 5px;

  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  /* text-align: left; */
}

.tutorial-card .card-img {
  margin: 0;
  min-width: 0;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tutorial-card img {
  width: 100%;
  height: auto;
  /* object-fit: cover; */
}

.card-txt {
  padding-top: 15px;
  padding-bottom: 10px;
  margin: 0;
  background-color: #fff;
  /* padding: 15px 20px; */
  padding-right: 20px;
  padding-left: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #F3F4F5;
}

.tutorial-card h3 {
  font-size: 17px;
  font-weight: 700;
  color: #1a1a1a;
  padding: 15px;
  line-height: 1.55;
  letter-spacing: -0.5px;
  color: #02073E;
}

.tutorial-card h3:hover {
  color: #8D448B;
}

.tutorial-card h3 a {
  transition: 500ms;
  cursor: pointer;
  color: inherit;
}

.card-txt p {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #343D48;
  line-height: 2;
  opacity: 0.8;
  margin-top: 4px;
  padding-left: 15px;
}

.card-txt p img {
  width: 20px;
  margin-right: 8px;
}

@media (min-width: 992px) {
  .tutorials-section{
    padding-bottom: 170px;
  }
}
@media screen and (min-width: 768px){
  .tutorials-section .container{
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 992px){
  .tutorials-section .container .blockTitle{
    margin-bottom: 70px;
  }

  .tutorials-section .container .blockTitle p{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .tutorials-section .container .blockTitle h2{
    font-size: 32px;
    line-height: 1.83;
    letter-spacing: -1.5px;
  }
  .tutorial-card .card-txt{
    padding-bottom: 30px;
  }
  .card-txt h3{
    font-size: 18px;
  }
}
@media screen and (min-width: 768px){
  .tutorial-card .card-txt{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
  }
}
@media screen and (min-width: 576px){
  .card-txt h3{
    font-size: 17px;
  }
  .card-txt p{
    font-size: 16px;
  }
  .card-txt p img{
    /* width: auto; */
  }
}

.hire .container {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hire .container .row {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  padding: 45px 30px 50px;
  margin-top: 0;
  position: relative;
  z-index: 10;
  background-color: #8D448B;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 60% center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.hire .container .row h3{
  color: #fff;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.24;
  padding: 0 15px;
  margin-bottom: 50px;
  /* letter-spacing: -0.5px; */
}

.css-czffb0{
  box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-family: 'DM Sans';
    font-weight: 500;
    line-height: 50px;
    font-family: 'DM Sans';
    line-height: 50px;
    font-weight: 500;
    font-size: 20px;
    -webkit-letter-spacing: -0.5px;
    -moz-letter-spacing: -0.5px;
    -ms-letter-spacing: -0.5px;
    letter-spacing: -0.5px;
    color: var(--theme-ui-colors-heading, #02073E);
}

.hire .row button {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  appearance: none;
  display: inline-block;
  text-align: center;
  line-height: inherit;
  text-decoration: none;
  font-size: inherit;
  border: 0;
  cursor: pointer;
  transition: 500ms;
  background-color: #fff;
  color: #8D448B;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 10px 24px;
  position: relative;
  outline: none;
}

.hire .row button:hover{
  background-color: #343D48;
  color: #fff;
}

.hire .row button::before{
  content: "";
    position: absolute;
    width: 73px;
    height: 26px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzMiIGhlaWdodD0iMjYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgb3BhY2l0eT0iLjUiIGZpbGw9IiNmZmYiPjxyZWN0IHg9IjIuNDcyIiB5PSI3Ljg5MiIgd2lkdGg9IjIyLjA4OCIgaGVpZ2h0PSIzLjY4MSIgcng9IjEuODQxIiB0cmFuc2Zvcm09InJvdGF0ZSg0Mi4xNzcgMi40NzIgNy44OTIpIi8+PHJlY3QgeD0iNTMuNzQ5IiB5PSIyMi43MjQiIHdpZHRoPSIyMi4wODgiIGhlaWdodD0iMy42ODEiIHJ4PSIxLjg0MSIgdHJhbnNmb3JtPSJyb3RhdGUoLTQyLjE4IDUzLjc1IDIyLjcyNCkiLz48cmVjdCB4PSIzOSIgd2lkdGg9IjIzIiBoZWlnaHQ9IjMiIHJ4PSIxLjUiIHRyYW5zZm9ybT0icm90YXRlKDkwIDM5IDApIi8+PC9nPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc(100% + 10px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.hire .row button:after{
  content: "";
    position: absolute;
    width: 73px;
    height: 26px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzMiIGhlaWdodD0iMjYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgb3BhY2l0eT0iLjUiIGZpbGw9IiNmZmYiPjxyZWN0IHg9IjIuNDcyIiB5PSI3Ljg5MiIgd2lkdGg9IjIyLjA4OCIgaGVpZ2h0PSIzLjY4MSIgcng9IjEuODQxIiB0cmFuc2Zvcm09InJvdGF0ZSg0Mi4xNzcgMi40NzIgNy44OTIpIi8+PHJlY3QgeD0iNTMuNzQ5IiB5PSIyMi43MjQiIHdpZHRoPSIyMi4wODgiIGhlaWdodD0iMy42ODEiIHJ4PSIxLjg0MSIgdHJhbnNmb3JtPSJyb3RhdGUoLTQyLjE4IDUzLjc1IDIyLjcyNCkiLz48cmVjdCB4PSIzOSIgd2lkdGg9IjIzIiBoZWlnaHQ9IjMiIHJ4PSIxLjUiIHRyYW5zZm9ybT0icm90YXRlKDkwIDM5IDApIi8+PC9nPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position: center;
    /* bottom: calc(100% + 10px); */
    left: 50%;
    /* -webkit-transform: translateX(-50%); */
    /* -ms-transform: translateX(-50%); */
    /* transform: translateX(-50%); */
    bottom: auto;
    top: calc(100% + 10px);
    -webkit-transform: translateX(-50%) rotate(180deg);
    -ms-transform: translateX(-50%) rotate(180deg);
    transform: translateX(-50%) rotate(180deg);
}

@media screen and (min-width: 1200px){
  .hire .container .row{
    padding: 45px 70px;
    background-image: url('images/download.svg');
  }

  .hire .row h3{
    font-size: 30px;
  }

  .hire .row button{
    padding: 15px 44px;
  }
}

@media screen and (min-width: 992px){
  .hire .container .row{
    margin-top: -80px;
  }
}

@media screen and (min-width: 768px){
  .hire .container{
    padding-left: 30px;
    padding-right: 30px;
  }
  .hire .container .row{
    padding: 45px 50px;
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
  }
  .hire .container .row h3{
    margin-bottom: 0;
  }
  .hire .container .row h3 br{
    display: inherit;
  }
}

@media screen and (min-width: 576px){
  .hire .container .row h3{
    font-size: 20px;
    line-height: 1.53;
  }
}

@media screen and (min-width: 376px){
  .hire .container .row h3{
    padding: 0 ;
  }
  .hire .row button{
    font-size: 15px;
  }
}

#footer {
  background-color: #fff;
  display: block;
}

#footer .container {
  margin: 0;
  min-width: 0;
  width: 100%;
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
  padding-bottom: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer .container .content1 {
  display: flex;
  align-items: center;
}

.content1 .logo {
  padding-right: 30px;
  margin-bottom: 5px;
}

.content1 .logo img {
  max-width: 100%;
  height: auto;
  display: flex;
}

.content1 p {
  color: #0F2137;
  opacity: 0.6;
  font-size: 15px;
}

#footer .container .content2 {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
}

.content2 .link {
  color: #0F2137;
  padding-left: 30px;
}

.content2 .link:hover {
  color: #8D448B;
}

@media screen and (min-width: 768px) {
  #footer .container {
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 376px) {
  #footer .container {
    padding-top: 40px;
    padding-bottom: 65px;

  }

  .content1 p {
    font-size: 15px;
  }
}

@media screen and (min-width: 576px) {
  #footer .container .content1 {
    flex-direction: row;
  }

  .content1 p {
    margin-top: 0;
  }
}

@media screen and (max-width: 991px) {
  #footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #footer .container .content2 {
    display: none;
  }
}